# youtube_datasetを用いた分析練習

## データ、及び必要な機能のインポート

In [2]:
import pandas as pd
import numpy as np
import gzip
#import pandas_profiling as pdp
from IPython.display import display
import dask.dataframe as dd
import time
from datetime import datetime
import math
from collections import Counter

In [3]:
yt_train = pd.read_csv('yt_bb_classification_train.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_train.shape)
display(yt_train)
display(yt_train.describe())
#print("ユーザー数=", len(df_members["msno"].unique()))

(8146143, 5)

          youtube_id  timestamp_ms  class_id  class_name object_presence
0        AAADSgKurQY         13000        19         dog         present
1        AAADSgKurQY         14000        19         dog         present
2        AAADSgKurQY         15000        19         dog         present
3        AAADSgKurQY         16000        19         dog         present
4        AAADSgKurQY         17000        19         dog         present
5        AAADSgKurQY         18000        19         dog         present
6        AAADSgKurQY         19000        19         dog         present
7        AAADSgKurQY         20000        19         dog         present
8        AAADSgKurQY         21000        19         dog         present
9        AAADSgKurQY         22000        19         dog         present
10       AAADSgKurQY         23000        19         dog         present
11       AAADSgKurQY         24000        19         dog         present
12       AAADSgKurQY         25000        19         dog         present
13       AAADSgKurQY         26000        19         dog         present
14       AAADSgKurQY         27000        19         dog         present
15       AAADSgKurQY         28000        19         dog         present
16       AAADSgKurQY         29000        19         dog         present
17       AAADSgKurQY         30000        19         dog         present
18       AAADSgKurQY         31000        19         dog         present
19       AAAxhIkQv9U        133000        12       knife         present
20       AAAxhIkQv9U        134000        12       knife         present
21       AAAxhIkQv9U        135000        12       knife         present
22       AAAxhIkQv9U        136000        12       knife         present
23       AAAxhIkQv9U        137000        12       knife         present
24       AAAxhIkQv9U        138000        12       knife         present
25       AAAxhIkQv9U        139000        12       knife         present
26       AAAxhIkQv9U        140000        12       knife         present
27       AAAxhIkQv9U        141000        12       knife         present
28       AAAxhIkQv9U        142000        12       knife         present
29       AAAxhIkQv9U        143000        12       knife         present
...              ...           ...       ...         ...             ...
8146113  __909tIOxbc          6000         0      person         present
8146114  __909tIOxbc          7000         0      person         present
8146115  __909tIOxbc          8000         0      person         present
8146116  __909tIOxbc          9000         0      person         present
8146117  __909tIOxbc         10000         0      person         present
8146118  __909tIOxbc         11000         0      person         present
8146119  __909tIOxbc         12000         0      person         present
8146120  __909tIOxbc         13000         0      person         present
8146121  __909tIOxbc         14000         0      person         present
8146122  __909tIOxbc         15000         0      person         present
8146123  __909tIOxbc         16000         0      person         present
8146124  ___6sYbq9IE         28000        14  skateboard         present
8146125  ___6sYbq9IE         29000        14  skateboard         present
8146126  ___6sYbq9IE         30000        14  skateboard         present
8146127  ___6sYbq9IE         31000        14  skateboard         present
8146128  ___6sYbq9IE         32000        14  skateboard         present
8146129  ___6sYbq9IE         33000        14  skateboard         present
8146130  ___6sYbq9IE         34000        14  skateboard         present
8146131  ___6sYbq9IE         35000        14  skateboard         present
8146132  ___6sYbq9IE         36000        14  skateboard         present
8146133  ___6sYbq9IE         37000        14  skateboard         present
8146134  ___6sYbq9IE         38000        14  skateboard         present
8146135  ___6sYbq9IE         39000        14  skateboard         present
8146136  ___6sYbq9IE         40000        14  skateboard         present
8146137  ___6sYbq9IE         41000        14  skateboard          absent
8146138  ___6sYbq9IE         42000        14  skateboard         present
8146139  ___6sYbq9IE         43000        14  skateboard         present
8146140  ___6sYbq9IE         44000        14  skateboard          absent
8146141  ___6sYbq9IE         45000        14  skateboard          absent
8146142  ___6sYbq9IE         46000        14  skateboard          absent

[8146143 rows x 5 columns]

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

In [3]:
yt_validation = pd.read_csv('yt_bb_classification_validation.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_validation.shape)
display(yt_validation)
display(yt_validation.describe())

(1013246, 5)

          youtube_id  timestamp_ms  class_id class_name object_presence
0        AACebVo-JXY        283000         3       boat         present
1        AACebVo-JXY        284000         3       boat         present
2        AACebVo-JXY        285000         3       boat         present
3        AACebVo-JXY        286000         3       boat         present
4        AACebVo-JXY        287000         3       boat         present
5        AACebVo-JXY        288000         3       boat         present
6        AACebVo-JXY        289000         3       boat         present
7        AACebVo-JXY        290000         3       boat         present
8        AACebVo-JXY        291000         3       boat         present
9        AACebVo-JXY        292000         3       boat         present
10       AACebVo-JXY        293000         3       boat         present
11       AACebVo-JXY        294000         3       boat         present
12       AACebVo-JXY        295000         3       boat         present
13       AACebVo-JXY        296000         3       boat         present
14       AACebVo-JXY        297000         3       boat         present
15       AACebVo-JXY        298000         3       boat         present
16       AACebVo-JXY        299000         3       boat         present
17       AACebVo-JXY        300000         3       boat         present
18       AACebVo-JXY        301000         3       boat         present
19       AAFuGMkVYMA         28000         0     person         present
20       AAFuGMkVYMA         29000         0     person         present
21       AAFuGMkVYMA         30000         0     person         present
22       AAFuGMkVYMA         31000         0     person         present
23       AAFuGMkVYMA         32000         0     person         present
24       AAFuGMkVYMA         33000         0     person         present
25       AAFuGMkVYMA         34000         0     person         present
26       AAFuGMkVYMA         35000         0     person         present
27       AAFuGMkVYMA         36000         0     person         present
28       AAFuGMkVYMA         37000         0     person         present
29       AAFuGMkVYMA         38000         0     person         present
...              ...           ...       ...        ...             ...
1013216  __fvuuMoEpA         21000         7        cat         present
1013217  __fvuuMoEpA         22000         7        cat         present
1013218  __fvuuMoEpA         23000         7        cat         present
1013219  __fvuuMoEpA         24000         7        cat         present
1013220  __fvuuMoEpA         25000         7        cat         present
1013221  __fvuuMoEpA         26000         7        cat         present
1013222  __fvuuMoEpA         27000         7        cat         present
1013223  __fvuuMoEpA         28000         7        cat         present
1013224  __fvuuMoEpA         29000         7        cat         present
1013225  __fvuuMoEpA         30000         7        cat         present
1013226  __fvuuMoEpA         31000         7        cat         present
1013227  __i0KvJ3m0U        268000         7        cat         present
1013228  __i0KvJ3m0U        269000         7        cat         present
1013229  __i0KvJ3m0U        270000         7        cat         present
1013230  __i0KvJ3m0U        271000         7        cat         present
1013231  __i0KvJ3m0U        272000         7        cat         present
1013232  __i0KvJ3m0U        273000         7        cat         present
1013233  __i0KvJ3m0U        274000         7        cat         present
1013234  __i0KvJ3m0U        275000         7        cat         present
1013235  __i0KvJ3m0U        276000         7        cat         present
1013236  __i0KvJ3m0U        277000         7        cat         present
1013237  __i0KvJ3m0U        278000         7        cat         present
1013238  __i0KvJ3m0U        279000         7        cat         present
1013239  __i0KvJ3m0U        280000         7        cat          absent
1013240  __i0KvJ3m0U        281000         7        cat          absent
1013241  __i0KvJ3m0U        282000         7        cat          absent
1013242  __i0KvJ3m0U        283000         7        cat          absent
1013243  __i0KvJ3m0U        284000         7        cat          absent
1013244  __i0KvJ3m0U        285000         7        cat          absent
1013245  __i0KvJ3m0U        286000         7        cat          absent

[1013246 rows x 5 columns]

       timestamp_ms      class_id
count  1.013246e+06  1.013246e+06
mean   1.410868e+05  8.844676e+00
std    2.089055e+05  7.103110e+00
min    0.000000e+00  0.000000e+00
25%    2.800000e+04  2.000000e+00
50%    7.500000e+04  7.000000e+00
75%    1.790000e+05  1.400000e+01
max    3.556000e+06  2.300000e+01

## 各種データについての確認

使用データセット:Youtube-BB Dataset  
ようつべにアップロードされている作品中で写っている物体とその動画IDとかその時間で物体が写っているかどうかが記録されている  
https://research.google.com/youtube-bb/

### youtube_id - (string) 
the YouTube identifier of the video the segment was extracted from. One may view the selected video at [ http://youtu.be/${youtube_id} ].  
 →セグメントが抽出された動画のYouTube識別子

### timestamp_ms - (integer)   
the time in milliseconds of the classified frame in the video.  
→ビデオ内の分類されたフレームのミリ秒単位の時間

### class_id - (integer)  
a numeric identifier for the object class.  
→オブジェクトクラスの数値識別子

### class_name - (string)  
a human-readable name for the object class.  
→オブジェクト名

### object_presence - (string)  
whether or not the object is present in the frame ('present' or 'absent').  
→オブジェクトがフレーム内に存在するか否か（ 'present'または 'absent'）

## 算出したいものまとめ
- 動画の分類(教師なし)
- 動画に写っているか否かでの動画の特徴(教師なし→確認)
- 動画の時間から何が写っているかの予測(教師あり)
- 動画に写るものから動画時間を予測する(教師あり)

In [6]:
yt_train.to_csv('yt_train_data.csv',encoding='utf-8',index=False)

# 各種データの確認、及び変換

## データ全体を確認

### 基礎統計

In [5]:
yt_train.describe()

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

### 全体の欠損を確認

In [6]:
yt_train[yt_train.isnull().any(1)]

Empty DataFrame
Columns: [youtube_id, timestamp_ms, class_id, class_name, object_presence]
Index: []

### 全体のユニーク数を確認

In [7]:
yt_train.nunique()

youtube_id         253569
timestamp_ms         3587
class_id               24
class_name             24
object_presence         2
dtype: int64

### 相関係数

In [8]:
yt_train.corr()

              timestamp_ms  class_id
timestamp_ms      1.000000  0.043126
class_id          0.043126  1.000000

### 最頻値

In [9]:
yt_train.mode()

    youtube_id  timestamp_ms  class_id class_name object_presence
0  peFIHPWhmQI         15000         0     person         present

## youtube_idについて

### 各IDごとの情報  
- 各IDのデータ数(youtube_id,count)  
- 投稿動画の平均時間(timestamp_ms,mean)  
- 投稿動画の合計時間(timestamp_ms,sum)  
- class_idのユニーク数(class_id,nunique)

In [20]:
yt_train.groupby('youtube_id').agg({'class_name':'count','timestamp_ms':'nunique','class_id':'nunique'}).reset_index().sort_values(by='class_id',ascending=False)

         youtube_id  class_name  timestamp_ms  class_id
182051  i0GUipDNV8U          91            88         5
51930   C0hqvqLGTik          90            90         5
164691  dc9YDfXBZRo         170           151         5
129382  VmoZsKeLsuE         119           119         5
79216   IxObyCZ6OfY         193           193         5
92833   MSniUQvUgNg         119           115         5
62224   EbPmYXOIzb8          97            89         5
191293  kLWy2pm_EEc         273           273         5
184520  idq0Jqw8Oa0         151           148         4
107551  QDimNf6xamc         112           108         4
53562   CQite5jXihw         247           171         4
203131  nJOiBFgFghs          81            81         4
27862   61Shc3VthUI         478           478         4
105737  PlihrJFV-TU         115           115         4
73289   HQfFvJ1H3I4         173           173         4
14943   2kx4-mg_kT4         131           126         4
113868  RoxW7ZVxcQU         215           208         4
66784   Fn6j8CspFw4         323           277         4
214698  qC8o4wpJmx4          94            94         4
44071   A5xZQOwCpzU          77            77         4
162656  d7H5qLPNFz0          95            91         4
221691  ryLfRYpu8Dg          93            93         4
86465   KomtKznirxU          96            77         4
185814  iybUtYUGvZI          94            90         4
153356  apNSKQ5kZL0         340           340         4
192963  klTl0eNaMyg         131           111         4
233796  v-xVNJ1bmO4         365           360         4
155566  bN4vggzwxWI         440           398         4
177294  gnF9YJM1jaE         150           112         4
186131  j34G8ArA4Nc          76            72         4
...             ...         ...           ...       ...
85527   KZwuf8dJLW0          17            17         1
85526   KZwdhNsHFvo          19            19         1
85511   KZkLXAW9VYc          19            19         1
85498   KZZ3Fahlubk          20            20         1
85499   KZZHFNTsmvs          38            38         1
85500   KZ_Je_NEqYY          38            38         1
85501   KZ_LbW1nEGk          19            19         1
85502   KZdJZuqsrS8          19            19         1
85503   KZdUhZ5zvt0          36            36         1
85504   KZeLe-bRJx8          17            17         1
85505   KZew2Bd5LHY          17            17         1
85506   KZf2KWwyjyA          21            21         1
85507   KZfvnZ8e6to          57            57         1
85508   KZguL58gAsw          19            19         1
85510   KZi50g05KMY          19            19         1
85512   KZkQXB5dNuA          20            20         1
85525   KZuT6Hs4rCA          19            19         1
85513   KZl_XArvSXk          19            19         1
85514   KZly0Ax6cpI          38            38         1
85515   KZngTpDHigE          41            41         1
85516   KZppTDs-10g          19            19         1
85517   KZqiX_ZV8fQ          19            19         1
85518   KZsGrt0ymBk          19            19         1
85519   KZsP-SIb0LM          17            17         1
85520   KZtHsE6Qitw         130           130         1
85521   KZtX20eEQsg          19            19         1
85522   KZtkIq-RcwQ          19            19         1
85523   KZtyz2hE-6o          19            19         1
85524   KZuJO6rj2c4          19            19         1
253568  zzyg_wpDZGA          17            17         1

[253569 rows x 4 columns]

In [19]:
yt_train[yt_train['youtube_id']=='C0hqvqLGTik']

         youtube_id  timestamp_ms  class_id class_name object_presence
703229  C0hqvqLGTik        133000         5       bear         present
703230  C0hqvqLGTik        134000         5       bear         present
703231  C0hqvqLGTik        135000         5       bear         present
703232  C0hqvqLGTik        136000         5       bear         present
703233  C0hqvqLGTik        137000         5       bear         present
703234  C0hqvqLGTik        138000         5       bear         present
703235  C0hqvqLGTik        139000         5       bear         present
703236  C0hqvqLGTik        140000         5       bear         present
703237  C0hqvqLGTik        141000         5       bear         present
703238  C0hqvqLGTik        142000         5       bear         present
703239  C0hqvqLGTik        143000         5       bear         present
703240  C0hqvqLGTik        144000         5       bear         present
703241  C0hqvqLGTik        145000         5       bear         present
703242  C0hqvqLGTik        146000         5       bear         present
703243  C0hqvqLGTik        147000         5       bear         present
703244  C0hqvqLGTik        148000         5       bear         present
703245  C0hqvqLGTik        149000         5       bear         present
703246  C0hqvqLGTik        150000         5       bear         present
703247  C0hqvqLGTik        151000         5       bear         present
703248  C0hqvqLGTik        388000        17      zebra         present
703249  C0hqvqLGTik        389000        17      zebra         present
703250  C0hqvqLGTik        390000        17      zebra         present
703251  C0hqvqLGTik        391000        17      zebra         present
703252  C0hqvqLGTik        392000        17      zebra         present
703253  C0hqvqLGTik        393000        17      zebra         present
703254  C0hqvqLGTik        394000        17      zebra         present
703255  C0hqvqLGTik        395000        17      zebra         present
703256  C0hqvqLGTik        396000        17      zebra         present
703257  C0hqvqLGTik        397000        17      zebra          absent
703258  C0hqvqLGTik        398000        17      zebra          absent
...             ...           ...       ...        ...             ...
703289  C0hqvqLGTik        526000         8    giraffe         present
703290  C0hqvqLGTik        527000         8    giraffe         present
703291  C0hqvqLGTik        528000         8    giraffe         present
703292  C0hqvqLGTik        529000         8    giraffe         present
703293  C0hqvqLGTik        530000         8    giraffe         present
703294  C0hqvqLGTik        531000         8    giraffe         present
703295  C0hqvqLGTik        532000         8    giraffe         present
703296  C0hqvqLGTik        533000         8    giraffe         present
703297  C0hqvqLGTik        534000         8    giraffe         present
703298  C0hqvqLGTik        535000         8    giraffe         present
703299  C0hqvqLGTik        536000         8    giraffe         present
703300  C0hqvqLGTik        537000         8    giraffe         present
703301  C0hqvqLGTik        538000         8    giraffe         present
703302  C0hqvqLGTik        539000         8    giraffe         present
703303  C0hqvqLGTik        540000         8    giraffe         present
703304  C0hqvqLGTik        541000         8    giraffe         present
703305  C0hqvqLGTik        553000        22       none         present
703306  C0hqvqLGTik        554000        22       none         present
703307  C0hqvqLGTik        555000        22       none         present
703308  C0hqvqLGTik        556000        22       none         present
703309  C0hqvqLGTik        557000        22       none         present
703310  C0hqvqLGTik        558000        22       none         present
703311  C0hqvqLGTik        559000        22       none         present
703312  C0hqvqLGTik        560000        22       none         present
703313  C0hqvqLGTik        561000        22       none         present
703314  C0hqvqLGTik        567000        22       none         present
703315  C0hqvqLGTik        568000        22       none         present
703316  C0hqvqLGTik        569000        22       none         present
703317  C0hqvqLGTik        570000        22       none         present
703318  C0hqvqLGTik        571000        22       none         present

[90 rows x 5 columns]

## timestamp_msについて

### 各動画時間についての情報   
- 動画時間ごとのデータ数(timestamp_ms,count)  
- 動画時間ごとの動画数(youtube_id,nunique)  
- 動画時間ごとのクラスIDのユニーク数(class_id,nunique)

In [38]:
yt_train.groupby('timestamp_ms').agg({'timestamp_ms':'count','youtube_id':'nunique','class_id':'nunique'})

              timestamp_ms  youtube_id  class_id
timestamp_ms
0                    73205       72581        24
1000                 73202       72578        24
2000                 73197       72573        24
3000                 73200       72576        24
4000                 73190       72566        24
5000                 73170       72546        24
6000                 73171       72547        24
7000                 73158       72534        24
8000                 73151       72527        24
9000                 73151       72527        24
10000                74452       73815        24
11000                75226       74584        24
12000                75970       75318        24
13000               117644      116501        24
14000               118397      117241        24
15000               118892      117731        24
16000               117446      116297        24
17000                47266       46863        24
18000                46815       46421        24
19000                46399       46011        24
20000                46052       45665        24
21000                46043       45656        24
22000                46050       45663        24
23000                46043       45656        24
24000                46041       45654        24
25000                46457       46064        24
26000                46844       46447        24
27000                47261       46861        24
28000                84633       83843        24
29000                84534       83745        24
...                    ...         ...       ...
3557000                  5           5         4
3558000                  5           5         4
3559000                  5           5         4
3560000                  5           5         4
3561000                  5           5         4
3562000                  5           5         4
3563000                  5           5         4
3564000                  5           5         4
3565000                  5           5         4
3566000                  5           5         4
3567000                  5           5         4
3568000                  7           7         4
3569000                  7           7         4
3570000                  8           8         5
3571000                  8           8         5
3572000                  3           3         3
3573000                  3           3         3
3574000                  3           3         3
3575000                  3           3         3
3576000                  3           3         3
3577000                  3           3         3
3578000                  3           3         3
3579000                  3           3         3
3580000                  3           3         3
3581000                  3           3         3
3582000                  3           3         3
3583000                  3           3         3
3584000                  3           3         3
3585000                  3           3         3
3586000                  3           3         3

[3587 rows x 3 columns]

## class_idについて

### class_idについての情報  
- 各クラスIDごとの作品数(class_id,count)  
- 各クラスIDごとの動画数(youtube_id,nunique)  
- 各クラスIDごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [11]:
yt_train.groupby('class_id').agg({'class_id':'count','youtube_id':'nunique','timestamp_ms':['mean','max']})

         class_id youtube_id   timestamp_ms
            count    nunique           mean      max
class_id
0         1492159      61885  103155.591328  3436000
1          381409       9328  112031.467532  2776000
2          214522       4945  225164.761656  3586000
3          309155       8793  143364.018049  3496000
4          364935      11223  173456.651184  3406000
5          315929       7137  151399.159305  3106000
6          397821      13722  181212.904799  3406000
7          577420      26439   91858.993454  3226000
8           45893       1356  228907.676552  3526000
9          203868       5633  231945.430377  3571000
10         440894      10156  130347.326115  3571000
11         280626      10269  132050.547704  2431000
12         420445       8136  261922.058771  3451000
13         324170       7545  192801.363482  3541000
14         383612      11045  112313.118463  1846000
15         321629       9668  130946.463161  3556000
16         285699       8780  152847.251828  3301000
17          25835        888  177345.616412  2461000
18         178565       7646  131520.611542  2911000
19         453509      12520   96237.702008  3586000
20         286334       6352  187139.445543  3586000
21         162848       5962  199482.677098  3541000
22          20457       1225  177726.108423  3166000
23         258409       8699  116105.491682  3286000

## class_nameについて

### 各クラス名についての情報  
- 各クラス名ごとのクラスID(class_id,mid/nunique)
- 各クラス名ごとのデータ数(class_name,count)  
- 各クラス名ごとの投稿者数(youtube_id,nunique)  
- 各クラス名ごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [12]:
yt_train.groupby('class_name').agg({'class_name':'count','class_id':['mean','nunique'],'youtube_id':'nunique','timestamp_ms':['mean','max']})

             class_name class_id         youtube_id   timestamp_ms
                  count     mean nunique    nunique           mean      max
class_name
airplane         324170       13       1       7545  192801.363482  3541000
bear             315929        5       1       7137  151399.159305  3106000
bicycle          214522        2       1       4945  225164.761656  3586000
bird             381409        1       1       9328  112031.467532  2776000
boat             309155        3       1       8793  143364.018049  3496000
bus              364935        4       1      11223  173456.651184  3406000
car              258409       23       1       8699  116105.491682  3286000
cat              577420        7       1      26439   91858.993454  3226000
cow              397821        6       1      13722  181212.904799  3406000
dog              453509       19       1      12520   96237.702008  3586000
elephant         286334       20       1       6352  187139.445543  3586000
giraffe           45893        8       1       1356  228907.676552  3526000
horse            440894       10       1      10156  130347.326115  3571000
knife            420445       12       1       8136  261922.058771  3451000
motorcycle       280626       11       1      10269  132050.547704  2431000
none              20457       22       1       1225  177726.108423  3166000
person          1492159        0       1      61885  103155.591328  3436000
potted plant     203868        9       1       5633  231945.430377  3571000
skateboard       383612       14       1      11045  112313.118463  1846000
toilet           178565       18       1       7646  131520.611542  2911000
train            321629       15       1       9668  130946.463161  3556000
truck            285699       16       1       8780  152847.251828  3301000
umbrella         162848       21       1       5962  199482.677098  3541000
zebra             25835       17       1        888  177345.616412  2461000

## object_presenceについて

### オブジェクトの有無についての情報
- オブジェクトの有無によるデータ数の違い(object_presence,count)  
- オブジェクトの有無による動画数の違い(youtube_id,nunique)  
- オブジェクトの有無による動画時間の違い(timestamp_ms,mean/sum)  
- オブジェクトの有無によるクラスIDの種類数(class_id,nunique)

In [14]:
yt_train.groupby('object_presence').agg({'object_presence':'count','youtube_id':'nunique','timestamp_ms':['mean','max','min'],'class_id':'nunique'})

                object_presence youtube_id   timestamp_ms               \
                          count    nunique           mean      max min
object_presence
absent                   784166      98376  162372.450476  3580000   0
present                 7361977     242320  141734.458692  3586000   0

                class_id
                 nunique
object_presence
absent                23
present               24

# 分析方針
冷静に考えてこのデータだけだと分析の方針がまとまりませんね(？)  
でも頑張って分析方針をまとめました(吐血)

## 現状で建てられる分析方針とか予測とか
- 動画に物体が写っているかどうかを確認することはできる  
-- 物体ごとの写り方による予測とか、各物体ごとに写りやすいかどうか見れる  
-- 物体の写っている時間とかはわかりそう
- 動画の時間毎に何が写っているかがわかる  
-- その動画の時間に何が写るのかの予測ができそう  
- 物体ごとの動画数や動画の時間の平均はわかる  
-- 動画の時間からどの物体が写るかが予測はできそう

## やることまとめ
- 物体毎に写っている時間の算出

# データの変換、及び算出作業

## 動画別/オブジェクト別に写っている時間の算出
各動画について、物体が写っている時間と写っていない時間で分けてしまう  
手順  
- 各動画における写っていない時間のみを抽出
- 写っていない時間を算出(写ったり写らなかったりする場合ばすべての合算)

データ詳細  
- cal :動画IDごとにclassのabsent/present別の時間をnuniqueとして算出
- cal2:classごとにyoutube_idのユニーク数とabsent/present別の時間を算出

In [4]:
yt_train_a=yt_train[yt_train['object_presence']=='absent']

In [5]:
a=yt_train_a.groupby(['youtube_id','class_name']).agg({'timestamp_ms':'nunique'}).reset_index().rename(columns={'timestamp_ms':'absent_time'})

In [6]:
yt_train_b=yt_train[yt_train['object_presence']=='present']

In [7]:
b=yt_train_b.groupby(['youtube_id','class_name']).agg({'timestamp_ms':'count'}).reset_index().rename(columns={'timestamp_ms':'present_time'})

### 動画ID別のフレーム内に写っている/写っていない時間の合計
- youtube_id : 動画ID
- class_name : オブジェクト名
- present_time : 写っている時間の合計
- absent_time : 写っていない時間の合計

In [20]:
#動画別の写っているものとフレーム内登場時間と非登場時間の算出
cal=pd.merge(b,a,how='outer',on=['youtube_id','class_name'])
cal

         youtube_id    class_name  present_time  absent_time
0       --0bLFuriZ4        person          19.0          NaN
1       --2LyLmEaq8           dog          38.0          NaN
2       --4VWx_0Sc4        person           1.0         18.0
3       --4xkUrLgjA    motorcycle          17.0          NaN
4       --4yByFm8j4         truck          19.0          2.0
5       --7Jrp2urUc          bird          18.0          1.0
6       --7KXqgihyw        person          14.0          5.0
7       --7L39R9NG0        person          16.0          3.0
8       --A-XRFwRt8           cat          19.0          NaN
9       --AjlzHEFNs          bird          93.0          2.0
10      --BYHGryxto        person          38.0          NaN
11      --C3bqX9Jkc        person          19.0          NaN
12      --Cjf3QfqrM    skateboard          38.0          NaN
13      --FHxh1ERsw    motorcycle          19.0          NaN
14      --GIJoTTE7I        person          16.0          1.0
15      --Ga1bOJSFA    motorcycle          18.0          1.0
16      --Hz7PvSOgE        person          17.0          NaN
17      --IABqeR5W8      airplane           8.0          8.0
18      --JnM0w4OJg           cat          13.0          8.0
19      --K-vBvoijE           cat          19.0          NaN
20      --L8nWczfVc           bus          12.0          7.0
21      --LNyxygQM4    motorcycle          19.0          NaN
22      --Lj8J6fjE4           cat          19.0          NaN
23      --SbJb0hBEw         horse          15.0          NaN
24      --UDkd9rw9g    skateboard         134.0          2.0
25      --V5ErkiEfw      umbrella          38.0          NaN
26      --VGxCfj8Z8         truck          17.0          NaN
27      --VhW6JDre4          bird          17.0          NaN
28      --VxF9iwB14           car          18.0          1.0
29      --WVvN2e-KQ          bird          17.0          NaN
...             ...           ...           ...          ...
259322  zow4xAskrT0        person           NaN         19.0
259323  zpC9AkRHjb8         knife           NaN         38.0
259324  zpEXR4jKIG8         knife           NaN         19.0
259325  zpZIoTXG0Nw        person           NaN         17.0
259326  zpcFdcsNWBg           cat           NaN         19.0
259327  zq53HoLCxig          bird           NaN         19.0
259328  zq9KEaVO3as        person           NaN         17.0
259329  zqNV3KINzyM    skateboard           NaN         38.0
259330  zrGbLpXmIkg         train           NaN         17.0
259331  zrUWQpSKZuc          bird           NaN         19.0
259332  zrdGlvnZ6Z8         train           NaN         19.0
259333  zrt1d_s79v4        person           NaN         19.0
259334  zs2WBgcjti0    motorcycle           NaN         19.0
259335  ztMXq4XrVC0          boat           NaN         19.0
259336  ztR8jvEenkk      elephant           NaN         38.0
259337  ztgVlhRjHcI         train           NaN         19.0
259338  zttiywcWjfA      airplane           NaN         19.0
259339  zuMznPX89rw  potted plant           NaN         19.0
259340  zvrOisFJGBA           cat           NaN         17.0
259341  zw4XYnW0524           bus           NaN         19.0
259342  zwXfvzLWxAY           cow           NaN         18.0
259343  zwo3NIgmU0Q         train           NaN         19.0
259344  zwsXVM4Fiec    skateboard           NaN         19.0
259345  zx2OMoUNgYw       giraffe           NaN         19.0
259346  zx3K6OOvg9s           cow           NaN         19.0
259347  zx4-Fq-4skA           dog           NaN         19.0
259348  zxKYg-fr0Sw      airplane           NaN         19.0
259349  zxxIi9wNEng          bird           NaN         17.0
259350  zz9ygZ6KKh4    skateboard           NaN         19.0
259351  zzN9DLg_wKM          boat           NaN         19.0

[259352 rows x 4 columns]

In [21]:
cal=cal.fillna(0)

In [25]:
cal.groupby('youtube_id').agg({'class_name':'nunique','present_time':'sum','absent_time':'sum'})

             class_name  present_time  absent_time
youtube_id
--0bLFuriZ4           1          19.0          0.0
--2LyLmEaq8           1          38.0          0.0
--4VWx_0Sc4           1           1.0         18.0
--4xkUrLgjA           1          17.0          0.0
--4yByFm8j4           1          19.0          2.0
--7Jrp2urUc           1          18.0          1.0
--7KXqgihyw           1          14.0          5.0
--7L39R9NG0           1          16.0          3.0
--A-XRFwRt8           1          19.0          0.0
--AjlzHEFNs           1          93.0          2.0
--BYHGryxto           1          38.0          0.0
--C3bqX9Jkc           1          19.0          0.0
--Cjf3QfqrM           1          38.0          0.0
--FHxh1ERsw           1          19.0          0.0
--GIJoTTE7I           1          16.0          1.0
--Ga1bOJSFA           1          18.0          1.0
--Hz7PvSOgE           1          17.0          0.0
--IABqeR5W8           1           8.0          8.0
--JnM0w4OJg           1          13.0          8.0
--K-vBvoijE           1          19.0          0.0
--L8nWczfVc           1          12.0          7.0
--LNyxygQM4           1          19.0          0.0
--Lj8J6fjE4           1          19.0          0.0
--SbJb0hBEw           1          15.0          0.0
--UDkd9rw9g           1         134.0          2.0
--V5ErkiEfw           1          38.0          0.0
--VGxCfj8Z8           1          17.0          0.0
--VhW6JDre4           1          17.0          0.0
--VxF9iwB14           1          18.0          1.0
--WVvN2e-KQ           1          17.0          0.0
...                 ...           ...          ...
zzcXI6NbFIk           1          17.0          0.0
zzcnI3OwsgU           1          16.0          3.0
zzeJQWC38nA           1          57.0          0.0
zzeXvLBKGkM           1          17.0          0.0
zzg42i6tEIs           1          19.0          0.0
zzglj-x9qjQ           1          21.0          0.0
zzii36HHYDk           1          19.0          0.0
zzinwr36iIw           1          19.0          0.0
zzjwC1cmTTc           1          31.0          7.0
zzknvqv9N9U           1          17.0          0.0
zzljeIZDjM8           1          16.0          3.0
zzmM4yg3w7I           1          19.0          0.0
zznH5zIHp7g           1          38.0          1.0
zznHTqy-Gzg           1          36.0          2.0
zznxwV0I1WU           1          36.0          3.0
zzo2TmreVWs           1          19.0          0.0
zzqffExUc2o           1          17.0          2.0
zzrgrdnnfk0           1          17.0          0.0
zzt4r6UZAR8           1          19.0          0.0
zztLsRtdmhw           1          38.0          0.0
zzu6EMBj6Pg           1          13.0          3.0
zzuK4Z5Wq5o           2          74.0          0.0
zzuufc_Jbrk           1          39.0          0.0
zzvZQEcA3Z0           1          19.0          0.0
zzvyhmCyu4M           1          19.0          0.0
zzx7zdp2OaQ           1          18.0          1.0
zzxSVJFyAuc           1          37.0          1.0
zzyHL0boiT8           1          21.0          0.0
zzygYUaxOUc           1          17.0          0.0
zzyg_wpDZGA           1          17.0          0.0

[253569 rows x 3 columns]

In [59]:
c=yt_train_a.groupby(['class_name']).agg({'timestamp_ms':'count','youtube_id':'nunique'}).reset_index().rename(columns={'timestamp_ms':'absent_time','youtube_id':'absent_id'})
d=yt_train_b.groupby(['class_name']).agg({'timestamp_ms':'count','youtube_id':'nunique'}).reset_index().rename(columns={'timestamp_ms':'present_time','youtube_id':'present_id'})

In [60]:
c

      class_name  absent_time  absent_id
0       airplane        29748       3374
1           bear        43387       4160
2        bicycle         8532       1807
3           bird        38654       4210
4           boat        19082       2865
5            bus        47028       5778
6            car        21240       1882
7            cat        42755       6621
8            cow        52574       6732
9            dog        28127       4534
10      elephant        36264       3729
11       giraffe         6375        854
12         horse        27825       4058
13         knife        26332       2691
14    motorcycle        18636       3490
15        person       101654      16622
16  potted plant        16569       2169
17    skateboard        47741       7811
18        toilet        63096       6026
19         train        59954       4162
20         truck        23400       2983
21      umbrella        19619       3291
22         zebra         5574        615

In [61]:
d

      class_name  present_time  present_id
0       airplane        294422        7137
1           bear        272542        6005
2        bicycle        205990        4893
3           bird        342755        8303
4           boat        290073        8517
5            bus        317907       10622
6            car        237169        8345
7            cat        534665       25420
8            cow        345247       12801
9            dog        425382       12008
10      elephant        250070        5745
11       giraffe         39518        1315
12         horse        413069        9657
13         knife        394113        7415
14    motorcycle        261990        9994
15          none         20457        1225
16        person       1390505       60908
17  potted plant        187299        5403
18    skateboard        335871       10327
19        toilet        115469        7440
20         train        261675        8852
21         truck        262299        8154
22      umbrella        143229        5897
23         zebra         20261         811

### 各オブジェクト別のフレーム内に写っている/写っていない時間の合計
- class_name : オブジェクト名
- present_time : 写っている時間の合計
- present_id : 写っている動画数
- absent_time : 写っていない時間の合計
- absent_id : 写っていない動画数

In [62]:
#class別の写っているものとフレーム内登場時間と非登場時間の算出
cal2=pd.merge(d,c,how='outer',on='class_name')
cal2

      class_name  present_time  present_id  absent_time  absent_id
0       airplane        294422        7137      29748.0     3374.0
1           bear        272542        6005      43387.0     4160.0
2        bicycle        205990        4893       8532.0     1807.0
3           bird        342755        8303      38654.0     4210.0
4           boat        290073        8517      19082.0     2865.0
5            bus        317907       10622      47028.0     5778.0
6            car        237169        8345      21240.0     1882.0
7            cat        534665       25420      42755.0     6621.0
8            cow        345247       12801      52574.0     6732.0
9            dog        425382       12008      28127.0     4534.0
10      elephant        250070        5745      36264.0     3729.0
11       giraffe         39518        1315       6375.0      854.0
12         horse        413069        9657      27825.0     4058.0
13         knife        394113        7415      26332.0     2691.0
14    motorcycle        261990        9994      18636.0     3490.0
15          none         20457        1225          NaN        NaN
16        person       1390505       60908     101654.0    16622.0
17  potted plant        187299        5403      16569.0     2169.0
18    skateboard        335871       10327      47741.0     7811.0
19        toilet        115469        7440      63096.0     6026.0
20         train        261675        8852      59954.0     4162.0
21         truck        262299        8154      23400.0     2983.0
22      umbrella        143229        5897      19619.0     3291.0
23         zebra         20261         811       5574.0      615.0

In [63]:
cal2=cal2.fillna(0)

## 基礎集計～動画ID別データ編～

### 各動画IDにおけるオブジェクトの数について
オブジェクト数(種類問わず)が登録されている動画の数を算出。結果としては1つのオブジェクトのみのものが最も多かった

In [31]:
cal_object=cal.groupby('youtube_id').agg({'class_name':'nunique'}).reset_index()
cal_object.sort_values(by='class_name',ascending=False)

         youtube_id  class_name
182051  i0GUipDNV8U           5
51930   C0hqvqLGTik           5
164691  dc9YDfXBZRo           5
129382  VmoZsKeLsuE           5
79216   IxObyCZ6OfY           5
92833   MSniUQvUgNg           5
62224   EbPmYXOIzb8           5
191293  kLWy2pm_EEc           5
184520  idq0Jqw8Oa0           4
107551  QDimNf6xamc           4
53562   CQite5jXihw           4
203131  nJOiBFgFghs           4
27862   61Shc3VthUI           4
105737  PlihrJFV-TU           4
73289   HQfFvJ1H3I4           4
14943   2kx4-mg_kT4           4
113868  RoxW7ZVxcQU           4
66784   Fn6j8CspFw4           4
214698  qC8o4wpJmx4           4
44071   A5xZQOwCpzU           4
162656  d7H5qLPNFz0           4
221691  ryLfRYpu8Dg           4
86465   KomtKznirxU           4
185814  iybUtYUGvZI           4
153356  apNSKQ5kZL0           4
192963  klTl0eNaMyg           4
233796  v-xVNJ1bmO4           4
155566  bN4vggzwxWI           4
177294  gnF9YJM1jaE           4
186131  j34G8ArA4Nc           4
...             ...         ...
85527   KZwuf8dJLW0           1
85526   KZwdhNsHFvo           1
85511   KZkLXAW9VYc           1
85498   KZZ3Fahlubk           1
85499   KZZHFNTsmvs           1
85500   KZ_Je_NEqYY           1
85501   KZ_LbW1nEGk           1
85502   KZdJZuqsrS8           1
85503   KZdUhZ5zvt0           1
85504   KZeLe-bRJx8           1
85505   KZew2Bd5LHY           1
85506   KZf2KWwyjyA           1
85507   KZfvnZ8e6to           1
85508   KZguL58gAsw           1
85510   KZi50g05KMY           1
85512   KZkQXB5dNuA           1
85525   KZuT6Hs4rCA           1
85513   KZl_XArvSXk           1
85514   KZly0Ax6cpI           1
85515   KZngTpDHigE           1
85516   KZppTDs-10g           1
85517   KZqiX_ZV8fQ           1
85518   KZsGrt0ymBk           1
85519   KZsP-SIb0LM           1
85520   KZtHsE6Qitw           1
85521   KZtX20eEQsg           1
85522   KZtkIq-RcwQ           1
85523   KZtyz2hE-6o           1
85524   KZuJO6rj2c4           1
253568  zzyg_wpDZGA           1

[253569 rows x 2 columns]

In [35]:
cal_object.groupby('class_name').count().reset_index().rename(columns={'class_name':'オブジェクト数','youtube_id':'動画数'})

   オブジェクト数     動画数
0        1  248094
1        2    5212
2        3     226
3        4      29
4        5       8

### 各動画IDにおけるオブジェクト1つ当たりの写った時間の合計値について
動画の中でオブジェクト1つ当たりの写っている時間が最も長いものは、1405秒(23分強)であった  
また、各動画ID別のオブジェクトごとの写っている時間の合計について、最も長いものは'bicycle'の動画であった

In [46]:
cal_present=cal.groupby('youtube_id').agg({'present_time':'sum','class_name':'nunique'}).reset_index()
cal_present['time_par_object']=cal_present['present_time']/cal_present['class_name']

In [45]:
cal_present.sort_values(by='time_par_object',ascending=False)

         youtube_id  present_time  class_name  time_par_object
212466  peFIHPWhmQI        1405.0           1           1405.0
21577   4ShvnJfxNkc        1273.0           1           1273.0
19354   3tKIxwor39g        1217.0           1           1217.0
124512  UY2u-sBAUvc        1102.0           1           1102.0
138334  Y3_l0wSPZwM         967.0           1            967.0
136480  XaerZtxCp3w         892.0           1            892.0
244295  xemv_TG3nHo         826.0           1            826.0
58573   DfS7lvAcDQc         814.0           1            814.0
249841  z2KLEemaXao         798.0           1            798.0
83638   K3z3GocLdWs         796.0           1            796.0
80440   JGDf9kSc-v4         774.0           1            774.0
78097   IehTemq8EYc         718.0           1            718.0
183068  iH0zfBI_9L8         659.0           1            659.0
131625  WMc1w-dwXUY         659.0           1            659.0
103503  PByJb40LNJ4         647.0           1            647.0
182565  i9BSgbO0wrY         647.0           1            647.0
144428  ZaPC288yVBg         627.0           1            627.0
222377  s8JMgMUootw         615.0           1            615.0
149508  _rgmzdefGdg         610.0           1            610.0
167259  eFeLxXgEWb4         602.0           1            602.0
118262  Swfda4hcQzo         591.0           1            591.0
124985  Uezh2__SMBU         589.0           1            589.0
17780   3TnNb5Oc--8         578.0           1            578.0
78413   Ik4UxtlIrw0         573.0           1            573.0
189471  jt9Uk4_D1h8         567.0           1            567.0
88723   LNp5cxWa83I        1124.0           2            562.0
202160  n2jvWkboChM         552.0           1            552.0
4885    0EoihlxC52o         531.0           1            531.0
163236  dGsL43kUpRg         529.0           1            529.0
56940   DGMfSMlhL4w         521.0           1            521.0
...             ...           ...         ...              ...
18023   3XqDeCLSuA8           0.0           1              0.0
213752  pxqURr5Ft2o           0.0           1              0.0
84810   KOS5flzXjJE           0.0           1              0.0
124438  UWw4XJFa8VE           0.0           1              0.0
124440  UWxbnkeyMUQ           0.0           1              0.0
84793   KO7cmgOfZaI           0.0           1              0.0
84924   KQW_vlMACRI           0.0           1              0.0
195263  lKLnWx0wrfI           0.0           1              0.0
245104  xrpE5AITO44           0.0           1              0.0
124211  UTE0YdK4oVw           0.0           1              0.0
124053  UQoSg_bOh18           0.0           1              0.0
195342  lLeFwBLDIcY           0.0           1              0.0
195341  lLeDbCF181E           0.0           1              0.0
227464  tPhn0T61XjE           0.0           1              0.0
41239   9OKPw5qIWXU           0.0           1              0.0
84942   KQybYido7wo           0.0           1              0.0
124085  URTB6lyQqQs           0.0           1              0.0
55460   Ct9C05kLlfU           0.0           1              0.0
124105  URkVvcy7oGc           0.0           1              0.0
213687  pwxiJ1OkjBI           0.0           1              0.0
227469  tPkPbgaIOu8           0.0           1              0.0
213692  px1olAuzwR8           0.0           1              0.0
18091   3YyLjBtLHxk           0.0           1              0.0
232960  uoBNh-MQ3zY           0.0           1              0.0
124128  US0lvmjZBSM           0.0           1              0.0
245097  xrcf8hAbfk4           0.0           1              0.0
195299  lL3JiqRLg6Y           0.0           1              0.0
55456   Ct6u9qo00bU           0.0           1              0.0
124204  UT9IwGgGWGo           0.0           1              0.0
46979   AnPiUqWj_Ag           0.0           1              0.0

[253569 rows x 4 columns]

In [49]:
cal_present_2=cal.groupby(['youtube_id','class_name']).agg({'present_time':'sum'}).reset_index()
cal_present_2.sort_values(by='present_time',ascending=False)

         youtube_id    class_name  present_time
217364  peFIHPWhmQI       bicycle        1405.0
22016   4ShvnJfxNkc  potted plant        1273.0
19750   3tKIxwor39g           dog        1217.0
90858   LNp5cxWa83I         horse        1105.0
127471  UY2u-sBAUvc  potted plant        1102.0
141596  Y3_l0wSPZwM       bicycle         967.0
146508  ZH-X6nu5grI         horse         930.0
139692  XaerZtxCp3w      airplane         892.0
249871  xemv_TG3nHo          boat         826.0
59999   DfS7lvAcDQc      umbrella         814.0
255534  z2KLEemaXao       bicycle         798.0
85651   K3z3GocLdWs  potted plant         796.0
82390   JGDf9kSc-v4           dog         774.0
79988   IehTemq8EYc       bicycle         718.0
134714  WMc1w-dwXUY  potted plant         659.0
187304  iH0zfBI_9L8  potted plant         659.0
105965  PByJb40LNJ4       bicycle         647.0
186790  i9BSgbO0wrY      elephant         647.0
147841  ZaPC288yVBg       bicycle         627.0
227498  s8JMgMUootw          bird         615.0
153013  _rgmzdefGdg       bicycle         610.0
171149  eFeLxXgEWb4      airplane         602.0
121085  Swfda4hcQzo      umbrella         591.0
127957  Uezh2__SMBU      airplane         589.0
18151   3TnNb5Oc--8         train         578.0
80313   Ik4UxtlIrw0      airplane         573.0
193862  jt9Uk4_D1h8         knife         567.0
206847  n2jvWkboChM           bus         552.0
4989    0EoihlxC52o       bicycle         531.0
167051  dGsL43kUpRg           bus         529.0
...             ...           ...           ...
135902  We2NufD1t6k           cow           0.0
27150   5i2SbnrOwmc          bear           0.0
135900  We1Lyjj7pqI        person           0.0
27152   5i30CX1XP9Y      elephant           0.0
173359  enDh4REaBsE        person           0.0
173358  enDh4REaBsE         horse           0.0
107020  PSOFMoLx6Z0          bird           0.0
173351  en7Pk1Tm0Jg           car           0.0
73979   HAPXr-l2otQ         train           0.0
173309  emW95ryEZYE    skateboard           0.0
173314  em_-OTpF8Tc         knife           0.0
106996  PS-jrriJ9_Q    skateboard           0.0
98527   NJnQiC3pEOM    skateboard           0.0
227893  sEPvM_EWSgI           cow           0.0
107002  PS5K8TsLFbY          bear           0.0
135983  WfUocYE5hCc          bird           0.0
98526   NJmi1fk99gM         knife           0.0
250297  xlTlYSYx96I          bird           0.0
240579  vLtAnx8ZvZc          bear           0.0
173324  emklt3Qtcks    skateboard           0.0
73963   HA4htWChvYQ        person           0.0
73961   HA3HVpy3JwI         horse           0.0
73960   HA36q8fJhJo         zebra           0.0
107011  PSBGtstQFXo      elephant           0.0
7818    0uecTIHCUKQ           cat           0.0
27094   5hGmyRJLRzk      airplane           0.0
27095   5hJbFewrWjo           car           0.0
73953   H9zpGazhz4w         truck           0.0
250308  xlgdx7InjHA         knife           0.0
207304  nAK7rMHEYP8       bicycle           0.0

[259352 rows x 3 columns]

### 各動画IDにおけるオブジェクトが写っていない時間の合計について
各動画IDにおけるオブジェクトが写っていない時間の合計が最も長いものは、192秒(3分12秒)であった  
また、各動画IDにおけるオブジェクトが写っていない時間の合計が最も長いものは'giraff'の動画であった

In [51]:
cal_absent=cal.groupby('youtube_id').agg({'absent_time':'sum','class_name':'nunique'}).reset_index()
cal_absent['time_par_object']=cal_absent['absent_time']/cal_absent['class_name']

In [57]:
cal_absent.sort_values(by='time_par_object',ascending=False)

         youtube_id  absent_time  class_name  time_par_object
95929   NFMM6Gh08M8        192.0           1            192.0
8979    1ETb7xs3XOc        174.0           1            174.0
59083   Do5BN3hh7K4        174.0           1            174.0
50749   BiVq7R0A0lk        158.0           1            158.0
227945  tXad5_JjZHA        150.0           1            150.0
101168  OaOqwNHlVaM        145.0           1            145.0
117607  SljihkXI030        128.0           1            128.0
26152   5aebWlYqlcY        124.0           1            124.0
130377  W24wThdaAws        115.0           1            115.0
238129  w66g3gkbVco        114.0           1            114.0
21605   4TCwv0bpyyA        112.0           1            112.0
145018  ZkGppsPSqhc        217.0           2            108.5
131218  WGAPDGDLJts        107.0           1            107.0
74140   Hdulpsj2kts        105.0           1            105.0
230716  uFPP1-jwLg8        100.0           1            100.0
227653  tSpRJX-ee2k         98.0           1             98.0
207332  oMSjxXvBOXg         97.0           1             97.0
35750   81jWH5keEos         97.0           1             97.0
20059   43SsCXTJ6jY         97.0           1             97.0
232842  umK4D90pEKE         97.0           1             97.0
76556   IGfiyjNlCRY         96.0           1             96.0
98640   NxrWRnXY8rg         95.0           1             95.0
37178   8NholZrgqJQ         95.0           1             95.0
233595  uxbf2iUJbvA         95.0           1             95.0
19710   3ym7C_e5g1A         95.0           1             95.0
216448  qcFfIxWLNK8         95.0           1             95.0
134593  X6kFhZAcbJU         94.0           1             94.0
184092  iXq92wSqWkI         93.0           1             93.0
26568   5hixDgyU_Nw         91.0           1             91.0
251426  zS95EuW-pCI         91.0           1             91.0
...             ...          ...         ...              ...
104960  PYzxV3CebH8          0.0           1              0.0
104962  PZ1Qw9KZtSk          0.0           1              0.0
104963  PZ2i45ovvWI          0.0           1              0.0
104964  PZ3PfRXk2rQ          0.0           1              0.0
104965  PZ3kaAYroyY          0.0           1              0.0
104966  PZ3x4aEmnuk          0.0           1              0.0
104937  PYcmRZeASHg          0.0           1              0.0
104934  PYXoTzzyYW8          0.0           1              0.0
104933  PYWfE8WhDKk          0.0           1              0.0
104932  PYUdyO4y3Dw          0.0           1              0.0
104898  PY6MKY5hGWE          0.0           1              0.0
104899  PY6ZkN6XOBw          0.0           1              0.0
104900  PY6e_EZnZtE          0.0           1              0.0
104903  PY8VRb6eWbw          0.0           1              0.0
104904  PY97v2hNDrE          0.0           1              0.0
104908  PYC5SKDPsRQ          0.0           1              0.0
104910  PYGN0HaGVgo          0.0           1              0.0
104912  PYH1kOyPD4U          0.0           1              0.0
104913  PYH5FxLfm3M          0.0           1              0.0
104914  PYHIhRFK-ZM          0.0           1              0.0
104917  PYIujR4HBEA          0.0           1              0.0
104919  PYJKlo6_mKo          0.0           1              0.0
104921  PYMamk76U-c          0.0           1              0.0
104922  PYMqSRzVVCc          0.0           1              0.0
104923  PYNAsjcNwKc          0.0           1              0.0
104927  PYOwGQUBJXY          0.0           1              0.0
104928  PYQF0j2qQhc          0.0           1              0.0
104929  PYQT1bL0QI0          0.0           1              0.0
104930  PYRl5LXYQII          0.0           1              0.0
253568  zzyg_wpDZGA          0.0           1              0.0

[253569 rows x 4 columns]

In [54]:
cal_absent_2=cal.groupby(['youtube_id','class_name']).agg({'absent_time':'sum'}).reset_index()
cal_absent_2.sort_values(by='absent_time',ascending=False)

         youtube_id    class_name  absent_time
148442  ZkGppsPSqhc       giraffe        217.0
98225   NFMM6Gh08M8         train        192.0
9149    1ETb7xs3XOc         train        174.0
60529   Do5BN3hh7K4         train        174.0
51914   BiVq7R0A0lk         train        158.0
233181  tXad5_JjZHA          bird        150.0
103575  OaOqwNHlVaM         train        145.0
120420  SljihkXI030          bear        128.0
26697   5aebWlYqlcY         train        124.0
47669   Ai08M0Ycqt8         train        123.0
52955   ByhpLi9sRUs         train        122.0
133440  W24wThdaAws         train        115.0
243580  w66g3gkbVco          bird        114.0
22044   4TCwv0bpyyA      elephant        112.0
134298  WGAPDGDLJts         train        107.0
75933   Hdulpsj2kts      airplane        105.0
236007  uFPP1-jwLg8         train        100.0
232888  tSpRJX-ee2k         knife         98.0
238178  umK4D90pEKE         train         97.0
212139  oMSjxXvBOXg      airplane         97.0
20470   43SsCXTJ6jY         train         97.0
36515   81jWH5keEos         train         97.0
78416   IGfiyjNlCRY         train         96.0
100998  NxrWRnXY8rg           car         95.0
238946  uxbf2iUJbvA          bear         95.0
20116   3ym7C_e5g1A         train         95.0
221439  qcFfIxWLNK8         horse         95.0
37980   8NholZrgqJQ          bird         95.0
137767  X6kFhZAcbJU         train         94.0
185622  hrYBHCXmSPo         train         93.0
...             ...           ...          ...
107271  PW85W8MI6rw        person          0.0
107272  PW8bOGE57-w         horse          0.0
107273  PW97rAj3_84         truck          0.0
107276  PWERIcLus8o         knife          0.0
107278  PWF60lPCMlk        person          0.0
107244  PVp223vNHHU           cat          0.0
107242  PVmo2Ww6Y0I           cat          0.0
107202  PVA7ygePjUg           dog          0.0
107222  PVV-saboi8Q         truck          0.0
107204  PVBGSafNZ74        person          0.0
107207  PVD0-OHnj4w        person          0.0
107208  PVEUA2gTPB8          bird          0.0
107209  PVFg1SwtWSQ    motorcycle          0.0
107210  PVJ5cXXTPQw        person          0.0
107211  PVKJNu8Fp6E         truck          0.0
107216  PVS1IdPrRJw        person          0.0
107219  PVTnni1j-1w      umbrella          0.0
107221  PVUyObEDfag        person          0.0
107223  PVViJIh7ZSg        person          0.0
107240  PVjkDfmDDFw        person          0.0
107226  PVWNqsRhWHE           cat          0.0
107227  PVXtjPyNMms           dog          0.0
107228  PVYp5LXB4YY        person          0.0
107231  PVecQJyRnA0  potted plant          0.0
107232  PVgBSbgvMCw         knife          0.0
107234  PVhvz0Bx608      airplane          0.0
107235  PViSs4NlZ5k           cow          0.0
107238  PVj5LnMHXLc      airplane          0.0
107239  PVj8hPpz1E0    motorcycle          0.0
259351  zzyg_wpDZGA        person          0.0

[259352 rows x 3 columns]

## 基礎集計～各オブジェクト編～

### 各オブジェクトの写っている動画について
各オブジェクトについて、最も写っている時間が長いオブジェクトは'person'であった。  
また、最も写っている時間がある動画数が多いオブジェクトも同様に最も'person'であった。  
しかし、1つの動画当たりに写っている時間が最も長いオブジェクトは'knife'となった。

In [71]:
cal2_present=cal2.groupby('class_name').agg({'present_time':'mean','present_id':'mean'}).reset_index()
cal2_present['time_par_movie']=cal2_present['present_time']/cal2_present['present_id']
cal2_present

      class_name  present_time  present_id  time_par_movie
0       airplane        294422        7137       41.252907
1           bear        272542        6005       45.385845
2        bicycle        205990        4893       42.098917
3           bird        342755        8303       41.280862
4           boat        290073        8517       34.058119
5            bus        317907       10622       29.929109
6            car        237169        8345       28.420491
7            cat        534665       25420       21.033242
8            cow        345247       12801       26.970315
9            dog        425382       12008       35.424883
10      elephant        250070        5745       43.528285
11       giraffe         39518        1315       30.051711
12         horse        413069        9657       42.774050
13         knife        394113        7415       53.150775
14    motorcycle        261990        9994       26.214729
15          none         20457        1225       16.699592
16        person       1390505       60908       22.829595
17  potted plant        187299        5403       34.665741
18    skateboard        335871       10327       32.523579
19        toilet        115469        7440       15.520027
20         train        261675        8852       29.561116
21         truck        262299        8154       32.168138
22      umbrella        143229        5897       24.288452
23         zebra         20261         811       24.982737

In [72]:
cal2_present.sort_values(by='present_time',ascending=False)

      class_name  present_time  present_id  time_par_movie
16        person       1390505       60908       22.829595
7            cat        534665       25420       21.033242
9            dog        425382       12008       35.424883
12         horse        413069        9657       42.774050
13         knife        394113        7415       53.150775
8            cow        345247       12801       26.970315
3           bird        342755        8303       41.280862
18    skateboard        335871       10327       32.523579
5            bus        317907       10622       29.929109
0       airplane        294422        7137       41.252907
4           boat        290073        8517       34.058119
1           bear        272542        6005       45.385845
21         truck        262299        8154       32.168138
14    motorcycle        261990        9994       26.214729
20         train        261675        8852       29.561116
10      elephant        250070        5745       43.528285
6            car        237169        8345       28.420491
2        bicycle        205990        4893       42.098917
17  potted plant        187299        5403       34.665741
22      umbrella        143229        5897       24.288452
19        toilet        115469        7440       15.520027
11       giraffe         39518        1315       30.051711
15          none         20457        1225       16.699592
23         zebra         20261         811       24.982737

In [73]:
cal2_present.sort_values(by='present_id',ascending=False)

      class_name  present_time  present_id  time_par_movie
16        person       1390505       60908       22.829595
7            cat        534665       25420       21.033242
8            cow        345247       12801       26.970315
9            dog        425382       12008       35.424883
5            bus        317907       10622       29.929109
18    skateboard        335871       10327       32.523579
14    motorcycle        261990        9994       26.214729
12         horse        413069        9657       42.774050
20         train        261675        8852       29.561116
4           boat        290073        8517       34.058119
6            car        237169        8345       28.420491
3           bird        342755        8303       41.280862
21         truck        262299        8154       32.168138
19        toilet        115469        7440       15.520027
13         knife        394113        7415       53.150775
0       airplane        294422        7137       41.252907
1           bear        272542        6005       45.385845
22      umbrella        143229        5897       24.288452
10      elephant        250070        5745       43.528285
17  potted plant        187299        5403       34.665741
2        bicycle        205990        4893       42.098917
11       giraffe         39518        1315       30.051711
15          none         20457        1225       16.699592
23         zebra         20261         811       24.982737

In [74]:
cal2_present.sort_values(by='time_par_movie',ascending=False)

      class_name  present_time  present_id  time_par_movie
13         knife        394113        7415       53.150775
1           bear        272542        6005       45.385845
10      elephant        250070        5745       43.528285
12         horse        413069        9657       42.774050
2        bicycle        205990        4893       42.098917
3           bird        342755        8303       41.280862
0       airplane        294422        7137       41.252907
9            dog        425382       12008       35.424883
17  potted plant        187299        5403       34.665741
4           boat        290073        8517       34.058119
18    skateboard        335871       10327       32.523579
21         truck        262299        8154       32.168138
11       giraffe         39518        1315       30.051711
5            bus        317907       10622       29.929109
20         train        261675        8852       29.561116
6            car        237169        8345       28.420491
8            cow        345247       12801       26.970315
14    motorcycle        261990        9994       26.214729
23         zebra         20261         811       24.982737
22      umbrella        143229        5897       24.288452
16        person       1390505       60908       22.829595
7            cat        534665       25420       21.033242
15          none         20457        1225       16.699592
19        toilet        115469        7440       15.520027

### 各オブジェクトの写っていない動画について
各オブジェクトについて、最も写っていない時間が長いオブジェクトは'person'であった。  
また、最も写っていない時間がある動画数が多いオブジェクトも同様に最も'person'であった。  
しかし、1つの動画当たりに写っていない時間が最も長いオブジェクトは'train'となった。

In [77]:
cal2_absent=cal2.groupby('class_name').agg({'absent_time':'mean','absent_id':'mean'}).reset_index()
cal2_absent['time_par_movie']=cal2_absent['absent_time']/cal2_absent['absent_id']
cal2_absent

      class_name  absent_time  absent_id  time_par_movie
0       airplane      29748.0     3374.0        8.816835
1           bear      43387.0     4160.0       10.429567
2        bicycle       8532.0     1807.0        4.721638
3           bird      38654.0     4210.0        9.181473
4           boat      19082.0     2865.0        6.660384
5            bus      47028.0     5778.0        8.139148
6            car      21240.0     1882.0       11.285866
7            cat      42755.0     6621.0        6.457484
8            cow      52574.0     6732.0        7.809566
9            dog      28127.0     4534.0        6.203573
10      elephant      36264.0     3729.0        9.724859
11       giraffe       6375.0      854.0        7.464871
12         horse      27825.0     4058.0        6.856826
13         knife      26332.0     2691.0        9.785210
14    motorcycle      18636.0     3490.0        5.339828
15          none          0.0        0.0             NaN
16        person     101654.0    16622.0        6.115630
17  potted plant      16569.0     2169.0        7.639004
18    skateboard      47741.0     7811.0        6.112022
19        toilet      63096.0     6026.0       10.470627
20         train      59954.0     4162.0       14.405094
21         truck      23400.0     2983.0        7.844452
22      umbrella      19619.0     3291.0        5.961410
23         zebra       5574.0      615.0        9.063415

In [78]:
cal2_absent.sort_values(by='absent_time',ascending=False)

      class_name  absent_time  absent_id  time_par_movie
16        person     101654.0    16622.0        6.115630
19        toilet      63096.0     6026.0       10.470627
20         train      59954.0     4162.0       14.405094
8            cow      52574.0     6732.0        7.809566
18    skateboard      47741.0     7811.0        6.112022
5            bus      47028.0     5778.0        8.139148
1           bear      43387.0     4160.0       10.429567
7            cat      42755.0     6621.0        6.457484
3           bird      38654.0     4210.0        9.181473
10      elephant      36264.0     3729.0        9.724859
0       airplane      29748.0     3374.0        8.816835
9            dog      28127.0     4534.0        6.203573
12         horse      27825.0     4058.0        6.856826
13         knife      26332.0     2691.0        9.785210
21         truck      23400.0     2983.0        7.844452
6            car      21240.0     1882.0       11.285866
22      umbrella      19619.0     3291.0        5.961410
4           boat      19082.0     2865.0        6.660384
14    motorcycle      18636.0     3490.0        5.339828
17  potted plant      16569.0     2169.0        7.639004
2        bicycle       8532.0     1807.0        4.721638
11       giraffe       6375.0      854.0        7.464871
23         zebra       5574.0      615.0        9.063415
15          none          0.0        0.0             NaN

In [79]:
cal2_absent.sort_values(by='absent_id',ascending=False)

      class_name  absent_time  absent_id  time_par_movie
16        person     101654.0    16622.0        6.115630
18    skateboard      47741.0     7811.0        6.112022
8            cow      52574.0     6732.0        7.809566
7            cat      42755.0     6621.0        6.457484
19        toilet      63096.0     6026.0       10.470627
5            bus      47028.0     5778.0        8.139148
9            dog      28127.0     4534.0        6.203573
3           bird      38654.0     4210.0        9.181473
20         train      59954.0     4162.0       14.405094
1           bear      43387.0     4160.0       10.429567
12         horse      27825.0     4058.0        6.856826
10      elephant      36264.0     3729.0        9.724859
14    motorcycle      18636.0     3490.0        5.339828
0       airplane      29748.0     3374.0        8.816835
22      umbrella      19619.0     3291.0        5.961410
21         truck      23400.0     2983.0        7.844452
4           boat      19082.0     2865.0        6.660384
13         knife      26332.0     2691.0        9.785210
17  potted plant      16569.0     2169.0        7.639004
6            car      21240.0     1882.0       11.285866
2        bicycle       8532.0     1807.0        4.721638
11       giraffe       6375.0      854.0        7.464871
23         zebra       5574.0      615.0        9.063415
15          none          0.0        0.0             NaN

In [80]:
cal2_absent.sort_values(by='time_par_movie',ascending=False)

      class_name  absent_time  absent_id  time_par_movie
20         train      59954.0     4162.0       14.405094
6            car      21240.0     1882.0       11.285866
19        toilet      63096.0     6026.0       10.470627
1           bear      43387.0     4160.0       10.429567
13         knife      26332.0     2691.0        9.785210
10      elephant      36264.0     3729.0        9.724859
3           bird      38654.0     4210.0        9.181473
23         zebra       5574.0      615.0        9.063415
0       airplane      29748.0     3374.0        8.816835
5            bus      47028.0     5778.0        8.139148
21         truck      23400.0     2983.0        7.844452
8            cow      52574.0     6732.0        7.809566
17  potted plant      16569.0     2169.0        7.639004
11       giraffe       6375.0      854.0        7.464871
12         horse      27825.0     4058.0        6.856826
4           boat      19082.0     2865.0        6.660384
7            cat      42755.0     6621.0        6.457484
9            dog      28127.0     4534.0        6.203573
16        person     101654.0    16622.0        6.115630
18    skateboard      47741.0     7811.0        6.112022
22      umbrella      19619.0     3291.0        5.961410
14    motorcycle      18636.0     3490.0        5.339828
2        bicycle       8532.0     1807.0        4.721638
15          none          0.0        0.0             NaN

## 基礎集計のまとめ
今回の基礎集計を通じて、以下のことがわかった  
- 動画単体でチェックしたとき、'bicycle'と'potted plant'の動画で長時間のものがみられたが、'person'の動画は長時間のものが上位にはなかった
- 'person'のオブジェクトは単純に登録されている動画数が多いためオブジェクトのデータで上位を記録している

しかし、2018/08/24の自習時間内では詳しくみることができなかったので時間を見つけて作業を続けたい