# youtube_datasetを用いた分析練習

## データ、及び必要な機能のインポート

In [2]:
import pandas as pd
import numpy as np
import gzip
#import pandas_profiling as pdp
from IPython.display import display
import dask.dataframe as dd
import time
from datetime import datetime
import math
from collections import Counter

In [3]:
yt_train = pd.read_csv('yt_bb_classification_train.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_train.shape)
display(yt_train)
display(yt_train.describe())
#print("ユーザー数=", len(df_members["msno"].unique()))

(8146143, 5)

          youtube_id  timestamp_ms  class_id  class_name object_presence
0        AAADSgKurQY         13000        19         dog         present
1        AAADSgKurQY         14000        19         dog         present
2        AAADSgKurQY         15000        19         dog         present
3        AAADSgKurQY         16000        19         dog         present
4        AAADSgKurQY         17000        19         dog         present
5        AAADSgKurQY         18000        19         dog         present
6        AAADSgKurQY         19000        19         dog         present
7        AAADSgKurQY         20000        19         dog         present
8        AAADSgKurQY         21000        19         dog         present
9        AAADSgKurQY         22000        19         dog         present
10       AAADSgKurQY         23000        19         dog         present
11       AAADSgKurQY         24000        19         dog         present
12       AAADSgKurQY         25000        19         dog         present
13       AAADSgKurQY         26000        19         dog         present
14       AAADSgKurQY         27000        19         dog         present
15       AAADSgKurQY         28000        19         dog         present
16       AAADSgKurQY         29000        19         dog         present
17       AAADSgKurQY         30000        19         dog         present
18       AAADSgKurQY         31000        19         dog         present
19       AAAxhIkQv9U        133000        12       knife         present
20       AAAxhIkQv9U        134000        12       knife         present
21       AAAxhIkQv9U        135000        12       knife         present
22       AAAxhIkQv9U        136000        12       knife         present
23       AAAxhIkQv9U        137000        12       knife         present
24       AAAxhIkQv9U        138000        12       knife         present
25       AAAxhIkQv9U        139000        12       knife         present
26       AAAxhIkQv9U        140000        12       knife         present
27       AAAxhIkQv9U        141000        12       knife         present
28       AAAxhIkQv9U        142000        12       knife         present
29       AAAxhIkQv9U        143000        12       knife         present
...              ...           ...       ...         ...             ...
8146113  __909tIOxbc          6000         0      person         present
8146114  __909tIOxbc          7000         0      person         present
8146115  __909tIOxbc          8000         0      person         present
8146116  __909tIOxbc          9000         0      person         present
8146117  __909tIOxbc         10000         0      person         present
8146118  __909tIOxbc         11000         0      person         present
8146119  __909tIOxbc         12000         0      person         present
8146120  __909tIOxbc         13000         0      person         present
8146121  __909tIOxbc         14000         0      person         present
8146122  __909tIOxbc         15000         0      person         present
8146123  __909tIOxbc         16000         0      person         present
8146124  ___6sYbq9IE         28000        14  skateboard         present
8146125  ___6sYbq9IE         29000        14  skateboard         present
8146126  ___6sYbq9IE         30000        14  skateboard         present
8146127  ___6sYbq9IE         31000        14  skateboard         present
8146128  ___6sYbq9IE         32000        14  skateboard         present
8146129  ___6sYbq9IE         33000        14  skateboard         present
8146130  ___6sYbq9IE         34000        14  skateboard         present
8146131  ___6sYbq9IE         35000        14  skateboard         present
8146132  ___6sYbq9IE         36000        14  skateboard         present
8146133  ___6sYbq9IE         37000        14  skateboard         present
8146134  ___6sYbq9IE         38000        14  skateboard         present
8146135  ___6sYbq9IE         39000        14  skateboard         present
8146136  ___6sYbq9IE         40000        14  skateboard         present
8146137  ___6sYbq9IE         41000        14  skateboard          absent
8146138  ___6sYbq9IE         42000        14  skateboard         present
8146139  ___6sYbq9IE         43000        14  skateboard         present
8146140  ___6sYbq9IE         44000        14  skateboard          absent
8146141  ___6sYbq9IE         45000        14  skateboard          absent
8146142  ___6sYbq9IE         46000        14  skateboard          absent

[8146143 rows x 5 columns]

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

In [4]:
yt_validation = pd.read_csv('yt_bb_classification_validation.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_validation.shape)
display(yt_validation)
display(yt_validation.describe())

(1013246, 5)

          youtube_id  timestamp_ms  class_id class_name object_presence
0        AACebVo-JXY        283000         3       boat         present
1        AACebVo-JXY        284000         3       boat         present
2        AACebVo-JXY        285000         3       boat         present
3        AACebVo-JXY        286000         3       boat         present
4        AACebVo-JXY        287000         3       boat         present
5        AACebVo-JXY        288000         3       boat         present
6        AACebVo-JXY        289000         3       boat         present
7        AACebVo-JXY        290000         3       boat         present
8        AACebVo-JXY        291000         3       boat         present
9        AACebVo-JXY        292000         3       boat         present
10       AACebVo-JXY        293000         3       boat         present
11       AACebVo-JXY        294000         3       boat         present
12       AACebVo-JXY        295000         3       boat         present
13       AACebVo-JXY        296000         3       boat         present
14       AACebVo-JXY        297000         3       boat         present
15       AACebVo-JXY        298000         3       boat         present
16       AACebVo-JXY        299000         3       boat         present
17       AACebVo-JXY        300000         3       boat         present
18       AACebVo-JXY        301000         3       boat         present
19       AAFuGMkVYMA         28000         0     person         present
20       AAFuGMkVYMA         29000         0     person         present
21       AAFuGMkVYMA         30000         0     person         present
22       AAFuGMkVYMA         31000         0     person         present
23       AAFuGMkVYMA         32000         0     person         present
24       AAFuGMkVYMA         33000         0     person         present
25       AAFuGMkVYMA         34000         0     person         present
26       AAFuGMkVYMA         35000         0     person         present
27       AAFuGMkVYMA         36000         0     person         present
28       AAFuGMkVYMA         37000         0     person         present
29       AAFuGMkVYMA         38000         0     person         present
...              ...           ...       ...        ...             ...
1013216  __fvuuMoEpA         21000         7        cat         present
1013217  __fvuuMoEpA         22000         7        cat         present
1013218  __fvuuMoEpA         23000         7        cat         present
1013219  __fvuuMoEpA         24000         7        cat         present
1013220  __fvuuMoEpA         25000         7        cat         present
1013221  __fvuuMoEpA         26000         7        cat         present
1013222  __fvuuMoEpA         27000         7        cat         present
1013223  __fvuuMoEpA         28000         7        cat         present
1013224  __fvuuMoEpA         29000         7        cat         present
1013225  __fvuuMoEpA         30000         7        cat         present
1013226  __fvuuMoEpA         31000         7        cat         present
1013227  __i0KvJ3m0U        268000         7        cat         present
1013228  __i0KvJ3m0U        269000         7        cat         present
1013229  __i0KvJ3m0U        270000         7        cat         present
1013230  __i0KvJ3m0U        271000         7        cat         present
1013231  __i0KvJ3m0U        272000         7        cat         present
1013232  __i0KvJ3m0U        273000         7        cat         present
1013233  __i0KvJ3m0U        274000         7        cat         present
1013234  __i0KvJ3m0U        275000         7        cat         present
1013235  __i0KvJ3m0U        276000         7        cat         present
1013236  __i0KvJ3m0U        277000         7        cat         present
1013237  __i0KvJ3m0U        278000         7        cat         present
1013238  __i0KvJ3m0U        279000         7        cat         present
1013239  __i0KvJ3m0U        280000         7        cat          absent
1013240  __i0KvJ3m0U        281000         7        cat          absent
1013241  __i0KvJ3m0U        282000         7        cat          absent
1013242  __i0KvJ3m0U        283000         7        cat          absent
1013243  __i0KvJ3m0U        284000         7        cat          absent
1013244  __i0KvJ3m0U        285000         7        cat          absent
1013245  __i0KvJ3m0U        286000         7        cat          absent

[1013246 rows x 5 columns]

       timestamp_ms      class_id
count  1.013246e+06  1.013246e+06
mean   1.410868e+05  8.844676e+00
std    2.089055e+05  7.103110e+00
min    0.000000e+00  0.000000e+00
25%    2.800000e+04  2.000000e+00
50%    7.500000e+04  7.000000e+00
75%    1.790000e+05  1.400000e+01
max    3.556000e+06  2.300000e+01

## 各種データについての確認

使用データセット:Youtube-BB Dataset  
ようつべにアップロードされている作品中で写っている物体とその動画IDとかその時間で物体が写っているかどうかが記録されている

### youtube_id - (string) 
the YouTube identifier of the video the segment was extracted from. One may view the selected video at [ http://youtu.be/${youtube_id} ].  
 →セグメントが抽出された動画のYouTube識別子

### timestamp_ms - (integer)   
the time in milliseconds of the classified frame in the video.  
→ビデオ内の分類されたフレームのミリ秒単位の時間

### class_id - (integer)  
a numeric identifier for the object class.  
→オブジェクトクラスの数値識別子

### class_name - (string)  
a human-readable name for the object class.  
→オブジェクト名

### object_presence - (string)  
whether or not the object is present in the frame ('present' or 'absent').  
→オブジェクトがフレーム内に存在するか否か（ 'present'または 'absent'）

## 算出したいものまとめ
- 動画の分類(教師なし)
- 動画に写っているか否かでの動画の特徴(教師なし→確認)
- 動画の時間から何が写っているかの予測(教師あり)
- 動画に写るものから動画時間を予測する(教師あり)

# 各種データの確認、及び変換

## データ全体を確認

### 基礎統計

In [5]:
yt_train.describe()

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

### 全体の欠損を確認

In [6]:
yt_train[yt_train.isnull().any(1)]

Empty DataFrame
Columns: [youtube_id, timestamp_ms, class_id, class_name, object_presence]
Index: []

### 全体のユニーク数を確認

In [7]:
yt_train.nunique()

youtube_id         253569
timestamp_ms         3587
class_id               24
class_name             24
object_presence         2
dtype: int64

### 相関係数

In [8]:
yt_train.corr()

              timestamp_ms  class_id
timestamp_ms      1.000000  0.043126
class_id          0.043126  1.000000

### 最頻値

In [9]:
yt_train.mode()

    youtube_id  timestamp_ms  class_id class_name object_presence
0  peFIHPWhmQI         15000         0     person         present

## youtube_idについて

### 各IDごとの情報  
- 各IDのデータ数(youtube_id,count)  
- 投稿動画の平均時間(timestamp_ms,mean)  
- 投稿動画の合計時間(timestamp_ms,sum)  
- class_idのユニーク数(class_id,nunique)

In [66]:
yt_train.groupby('youtube_id').agg({'youtube_id':'count','timestamp_ms':['mean','max'],'class_id':'nunique'})

            youtube_id   timestamp_ms         class_id
                 count           mean     max  nunique
youtube_id
--0bLFuriZ4         19   82000.000000   91000        1
--2LyLmEaq8         38   52000.000000   76000        1
--4VWx_0Sc4         19   37000.000000   46000        1
--4xkUrLgjA         17   53000.000000   61000        1
--4yByFm8j4         21   51000.000000   61000        1
--7Jrp2urUc         19  382000.000000  391000        1
--7KXqgihyw         19  127000.000000  136000        1
--7L39R9NG0         19   52000.000000   61000        1
--A-XRFwRt8         19   52000.000000   61000        1
--AjlzHEFNs         95  124000.000000  196000        1
--BYHGryxto         38  194500.000000  286000        1
--C3bqX9Jkc         19  112000.000000  121000        1
--Cjf3QfqrM         38   82000.000000  136000        1
--FHxh1ERsw         19   52000.000000   61000        1
--GIJoTTE7I         17    8000.000000   16000        1
--Ga1bOJSFA         19   67000.000000   76000        1
--Hz7PvSOgE         17    8000.000000   16000        1
--IABqeR5W8         16  215500.000000  223000        1
--JnM0w4OJg         21  291000.000000  301000        1
--K-vBvoijE         19  232000.000000  241000        1
--L8nWczfVc         19  232000.000000  241000        1
--LNyxygQM4         19  217000.000000  226000        1
--Lj8J6fjE4         19   97000.000000  106000        1
--SbJb0hBEw         15    7000.000000   14000        1
--UDkd9rw9g        136  237948.529412  406000        1
--V5ErkiEfw         38   82000.000000  121000        1
--VGxCfj8Z8         17    8000.000000   16000        1
--VhW6JDre4         17   21000.000000   29000        1
--VxF9iwB14         19   52000.000000   61000        1
--WVvN2e-KQ         17    8000.000000   16000        1
...                ...            ...     ...      ...
zzcXI6NbFIk         17    8000.000000   16000        1
zzcnI3OwsgU         19  112000.000000  121000        1
zzeJQWC38nA         57  167000.000000  256000        1
zzeXvLBKGkM         17    8000.000000   16000        1
zzg42i6tEIs         19   22000.000000   31000        1
zzglj-x9qjQ         21   81000.000000   91000        1
zzii36HHYDk         19   67000.000000   76000        1
zzinwr36iIw         19   97000.000000  106000        1
zzjwC1cmTTc         38   82000.000000  106000        1
zzknvqv9N9U         17    8000.000000   16000        1
zzljeIZDjM8         19   22000.000000   31000        1
zzmM4yg3w7I         19  172000.000000  181000        1
zznH5zIHp7g         39  155974.358974  196000        1
zznHTqy-Gzg         38  142000.000000  181000        1
zznxwV0I1WU         39  146102.564103  239000        1
zzo2TmreVWs         19   37000.000000   46000        1
zzqffExUc2o         19  172000.000000  181000        1
zzrgrdnnfk0         17    8000.000000   16000        1
zzt4r6UZAR8         19   22000.000000   31000        1
zztLsRtdmhw         38  202000.000000  256000        1
zzu6EMBj6Pg         16    7500.000000   15000        1
zzuK4Z5Wq5o         74   49594.594595   91000        2
zzuufc_Jbrk         39   68410.256410  122000        1
zzvZQEcA3Z0         19   97000.000000  106000        1
zzvyhmCyu4M         19   37000.000000   46000        1
zzx7zdp2OaQ         19   52000.000000   61000        1
zzxSVJFyAuc         38   44500.000000   76000        1
zzyHL0boiT8         21  321000.000000  331000        1
zzygYUaxOUc         17    8000.000000   16000        1
zzyg_wpDZGA         17    8000.000000   16000        1

[253569 rows x 4 columns]

## timestamp_msについて

### 各動画時間についての情報   
- 動画時間ごとのデータ数(timestamp_ms,count)  
- 動画時間ごとの動画数(youtube_id,nunique)  
- 動画時間ごとのクラスIDのユニーク数(class_id,nunique)

In [38]:
yt_train.groupby('timestamp_ms').agg({'timestamp_ms':'count','youtube_id':'nunique','class_id':'nunique'})

              timestamp_ms  youtube_id  class_id
timestamp_ms
0                    73205       72581        24
1000                 73202       72578        24
2000                 73197       72573        24
3000                 73200       72576        24
4000                 73190       72566        24
5000                 73170       72546        24
6000                 73171       72547        24
7000                 73158       72534        24
8000                 73151       72527        24
9000                 73151       72527        24
10000                74452       73815        24
11000                75226       74584        24
12000                75970       75318        24
13000               117644      116501        24
14000               118397      117241        24
15000               118892      117731        24
16000               117446      116297        24
17000                47266       46863        24
18000                46815       46421        24
19000                46399       46011        24
20000                46052       45665        24
21000                46043       45656        24
22000                46050       45663        24
23000                46043       45656        24
24000                46041       45654        24
25000                46457       46064        24
26000                46844       46447        24
27000                47261       46861        24
28000                84633       83843        24
29000                84534       83745        24
...                    ...         ...       ...
3557000                  5           5         4
3558000                  5           5         4
3559000                  5           5         4
3560000                  5           5         4
3561000                  5           5         4
3562000                  5           5         4
3563000                  5           5         4
3564000                  5           5         4
3565000                  5           5         4
3566000                  5           5         4
3567000                  5           5         4
3568000                  7           7         4
3569000                  7           7         4
3570000                  8           8         5
3571000                  8           8         5
3572000                  3           3         3
3573000                  3           3         3
3574000                  3           3         3
3575000                  3           3         3
3576000                  3           3         3
3577000                  3           3         3
3578000                  3           3         3
3579000                  3           3         3
3580000                  3           3         3
3581000                  3           3         3
3582000                  3           3         3
3583000                  3           3         3
3584000                  3           3         3
3585000                  3           3         3
3586000                  3           3         3

[3587 rows x 3 columns]

## class_idについて

### class_idについての情報  
- 各クラスIDごとの作品数(class_id,count)  
- 各クラスIDごとの動画数(youtube_id,nunique)  
- 各クラスIDごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [11]:
yt_train.groupby('class_id').agg({'class_id':'count','youtube_id':'nunique','timestamp_ms':['mean','max']})

         class_id youtube_id   timestamp_ms
            count    nunique           mean      max
class_id
0         1492159      61885  103155.591328  3436000
1          381409       9328  112031.467532  2776000
2          214522       4945  225164.761656  3586000
3          309155       8793  143364.018049  3496000
4          364935      11223  173456.651184  3406000
5          315929       7137  151399.159305  3106000
6          397821      13722  181212.904799  3406000
7          577420      26439   91858.993454  3226000
8           45893       1356  228907.676552  3526000
9          203868       5633  231945.430377  3571000
10         440894      10156  130347.326115  3571000
11         280626      10269  132050.547704  2431000
12         420445       8136  261922.058771  3451000
13         324170       7545  192801.363482  3541000
14         383612      11045  112313.118463  1846000
15         321629       9668  130946.463161  3556000
16         285699       8780  152847.251828  3301000
17          25835        888  177345.616412  2461000
18         178565       7646  131520.611542  2911000
19         453509      12520   96237.702008  3586000
20         286334       6352  187139.445543  3586000
21         162848       5962  199482.677098  3541000
22          20457       1225  177726.108423  3166000
23         258409       8699  116105.491682  3286000

## class_nameについて

### 各クラス名についての情報  
- 各クラス名ごとのクラスID(class_id,mid/nunique)
- 各クラス名ごとのデータ数(class_name,count)  
- 各クラス名ごとの投稿者数(youtube_id,nunique)  
- 各クラス名ごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [12]:
yt_train.groupby('class_name').agg({'class_name':'count','class_id':['mean','nunique'],'youtube_id':'nunique','timestamp_ms':['mean','max']})

             class_name class_id         youtube_id   timestamp_ms
                  count     mean nunique    nunique           mean      max
class_name
airplane         324170       13       1       7545  192801.363482  3541000
bear             315929        5       1       7137  151399.159305  3106000
bicycle          214522        2       1       4945  225164.761656  3586000
bird             381409        1       1       9328  112031.467532  2776000
boat             309155        3       1       8793  143364.018049  3496000
bus              364935        4       1      11223  173456.651184  3406000
car              258409       23       1       8699  116105.491682  3286000
cat              577420        7       1      26439   91858.993454  3226000
cow              397821        6       1      13722  181212.904799  3406000
dog              453509       19       1      12520   96237.702008  3586000
elephant         286334       20       1       6352  187139.445543  3586000
giraffe           45893        8       1       1356  228907.676552  3526000
horse            440894       10       1      10156  130347.326115  3571000
knife            420445       12       1       8136  261922.058771  3451000
motorcycle       280626       11       1      10269  132050.547704  2431000
none              20457       22       1       1225  177726.108423  3166000
person          1492159        0       1      61885  103155.591328  3436000
potted plant     203868        9       1       5633  231945.430377  3571000
skateboard       383612       14       1      11045  112313.118463  1846000
toilet           178565       18       1       7646  131520.611542  2911000
train            321629       15       1       9668  130946.463161  3556000
truck            285699       16       1       8780  152847.251828  3301000
umbrella         162848       21       1       5962  199482.677098  3541000
zebra             25835       17       1        888  177345.616412  2461000

## object_presenceについて

### オブジェクトの有無についての情報
- オブジェクトの有無によるデータ数の違い(object_presence,count)  
- オブジェクトの有無による動画数の違い(youtube_id,nunique)  
- オブジェクトの有無による動画時間の違い(timestamp_ms,mean/sum)  
- オブジェクトの有無によるクラスIDの種類数(class_id,nunique)

In [14]:
yt_train.groupby('object_presence').agg({'object_presence':'count','youtube_id':'nunique','timestamp_ms':['mean','max','min'],'class_id':'nunique'})

                object_presence youtube_id   timestamp_ms               \
                          count    nunique           mean      max min
object_presence
absent                   784166      98376  162372.450476  3580000   0
present                 7361977     242320  141734.458692  3586000   0

                class_id
                 nunique
object_presence
absent                23
present               24

# 分析方針
冷静に考えてこのデータだけだと分析の方針がまとまりませんね(？)  
でも頑張って分析方針をまとめました(吐血)

## 現状で建てられる分析方針とか予測とか
- 動画に物体が写っているかどうかを確認することはできる  
-- 物体ごとの写り方による予測とか、各物体ごとに写りやすいかどうか見れる  
-- 物体の写っている時間とかはわかりそう
- 動画の時間毎に何が写っているかがわかる  
-- その動画の時間に何が写るのかの予測ができそう  
- 物体ごとの動画数や動画の時間の平均はわかる  
-- 動画の時間からどの物体が写るかが予測はできそう

## やることまとめ
- 物体毎に写っている時間の算出

# データの変換、及び算出作業

## 物体毎に写っている時間の算出
各動画について、物体が写っている時間と写っていない時間で分けてしまう  
手順  
- 各動画における写っていない時間のみを抽出
- 写っていない時間を算出(写ったり写らなかったりする場合ばすべての合算)

In [30]:
yt_train_a=yt_train[yt_train['object_presence']=='absent']

In [58]:
yt_train_a

          youtube_id  timestamp_ms  class_id  class_name object_presence
90       AABt6c_MhfI        237000        12       knife          absent
91       AABt6c_MhfI        238000        12       knife          absent
94       AABt6c_MhfI        241000        12       knife          absent
152      AACwvxuZuKI        418000         3        boat          absent
153      AACwvxuZuKI        419000         3        boat          absent
171      AADbR5VmQEA        193000        12       knife          absent
190      AAEjNUmj09M        268000        18      toilet          absent
191      AAEjNUmj09M        269000        18      toilet          absent
192      AAEjNUmj09M        270000        18      toilet          absent
194      AAEjNUmj09M        272000        18      toilet          absent
195      AAEjNUmj09M        273000        18      toilet          absent
196      AAEjNUmj09M        274000        18      toilet          absent
197      AAEjNUmj09M        275000        18      toilet          absent
198      AAEjNUmj09M        276000        18      toilet          absent
199      AAEjNUmj09M        277000        18      toilet          absent
200      AAEjNUmj09M        278000        18      toilet          absent
201      AAEjNUmj09M        279000        18      toilet          absent
202      AAEjNUmj09M        280000        18      toilet          absent
203      AAEjNUmj09M        281000        18      toilet          absent
204      AAEjNUmj09M        282000        18      toilet          absent
205      AAEjNUmj09M        283000        18      toilet          absent
206      AAEjNUmj09M        284000        18      toilet          absent
207      AAEjNUmj09M        285000        18      toilet          absent
208      AAEjNUmj09M        286000        18      toilet          absent
376      AAJkJFd_7i8         61000        18      toilet          absent
377      AAJkJFd_7i8         62000        18      toilet          absent
384      AAJkJFd_7i8         69000        18      toilet          absent
385      AAJkJFd_7i8         70000        18      toilet          absent
388      AAJkJFd_7i8         73000        18      toilet          absent
389      AAJkJFd_7i8         74000        18      toilet          absent
...              ...           ...       ...         ...             ...
8145861  __2Rbbu3rOk        148000        18      toilet          absent
8145862  __2Rbbu3rOk        149000        18      toilet          absent
8145863  __2Rbbu3rOk        150000        18      toilet          absent
8145864  __2Rbbu3rOk        151000        18      toilet          absent
8145917  __5rA3WyATY         27000        14  skateboard          absent
8145924  __5rA3WyATY         75000        14  skateboard          absent
8145925  __5rA3WyATY         76000        14  skateboard          absent
8146052  __7uGE0SMjg        133000         5        bear          absent
8146053  __7uGE0SMjg        134000         5        bear          absent
8146054  __7uGE0SMjg        135000         5        bear          absent
8146055  __7uGE0SMjg        136000         5        bear          absent
8146056  __7uGE0SMjg        137000         5        bear          absent
8146057  __7uGE0SMjg        138000         5        bear          absent
8146058  __7uGE0SMjg        139000         5        bear          absent
8146059  __7uGE0SMjg        140000         5        bear          absent
8146060  __7uGE0SMjg        141000         5        bear          absent
8146061  __7uGE0SMjg        142000         5        bear          absent
8146062  __7uGE0SMjg        143000         5        bear          absent
8146063  __7uGE0SMjg        144000         5        bear          absent
8146064  __7uGE0SMjg        145000         5        bear          absent
8146065  __7uGE0SMjg        146000         5        bear          absent
8146066  __7uGE0SMjg        147000         5        bear          absent
8146067  __7uGE0SMjg        148000         5        bear          absent
8146068  __7uGE0SMjg        149000         5        bear          absent
8146069  __7uGE0SMjg        150000         5        bear          absent
8146070  __7uGE0SMjg        151000         5        bear          absent
8146137  ___6sYbq9IE         41000        14  skateboard          absent
8146140  ___6sYbq9IE         44000        14  skateboard          absent
8146141  ___6sYbq9IE         45000        14  skateboard          absent
8146142  ___6sYbq9IE         46000        14  skateboard          absent

[784166 rows x 5 columns]

In [31]:
yt_train_b=yt_train[yt_train['object_presence']=='present']

In [41]:
a=yt_train_a.groupby(['youtube_id','class_name']).agg({'timestamp_ms':'min'}).reset_index()#.rename(columns={'youtube_id','class_name','min_time','max_time'})
b=yt_train_a.groupby(['youtube_id','class_name']).agg({'timestamp_ms':'max'}).reset_index()#.rename(columns={'youtube_id','class_name','min_time','max_time'})

In [52]:
b=b.rename(columns={'timestamp_ms':'max_time'})
cal=pd.merge(b,a,how='left')
cal['cal_time']=cal['max_time']-cal['timestamp_ms']

In [53]:
cal

         youtube_id    class_name  max_time  timestamp_ms  cal_time
0       --4VWx_0Sc4        person     46000         29000     17000
1       --4yByFm8j4         truck     61000         60000      1000
2       --7Jrp2urUc          bird    373000        373000         0
3       --7KXqgihyw        person    131000        118000     13000
4       --7L39R9NG0        person     50000         48000      2000
5       --AjlzHEFNs          bird     44000         43000      1000
6       --GIJoTTE7I        person      6000          6000         0
7       --Ga1bOJSFA    motorcycle     75000         75000         0
8       --IABqeR5W8      airplane    223000        216000      7000
9       --JnM0w4OJg           cat    301000        281000     20000
10      --L8nWczfVc           bus    241000        235000      6000
11      --UDkd9rw9g    skateboard    255000        181000     74000
12      --VxF9iwB14           car     60000         60000         0
13      --h2FjFinAk          bird    526000        478000     48000
14      --mBL7P45yE  potted plant    764000        763000      1000
15      --qMVmzQsQw    skateboard    150000          3000    147000
16      --tcPnqnk28           car         0             0         0
17      --wnpqQ09OM        person      1000             0      1000
18      -0-EVExFrYo         knife    121000         28000     93000
19      -00e-Q1Gr1Y          boat     59000         48000     11000
20      -025GNtJ0oI         train     73000         73000         0
21      -05JFVDLCo0        person     57000         57000         0
22      -06Pp6cQvBA      elephant    191000        191000         0
23      -07VcniWzjM       bicycle     46000         46000         0
24      -08lDayNo9k    skateboard    119000        106000     13000
25      -0Az97MCBHU        toilet     91000         76000     15000
26      -0FsodvpI7s           dog         0             0         0
27      -0FxeO4o2CQ    motorcycle    250000        238000     12000
28      -0GpWgySBLw           cat     15000          8000      7000
29      -0JpM_qk72c    skateboard     14000         12000      2000
...             ...           ...       ...           ...       ...
100434  zyP7Z_mws54           cow    121000        103000     18000
100435  zySP1MciQo4    motorcycle     18000         17000      1000
100436  zySbpWHTUUI      umbrella    270000        161000    109000
100437  zyUCga9ycVc           cow    282000        133000    149000
100438  zyUCga9ycVc        person    150000        133000     17000
100439  zya7ExJcSJc        person     16000             0     16000
100440  zybGZAyStf0    motorcycle     60000         59000      1000
100441  zyrHszGky2Q         knife    106000         88000     18000
100442  zytMZEAxzKE       bicycle    241000        231000     10000
100443  zytMZEAxzKE         horse    425000        425000         0
100444  zz9ygZ6KKh4    skateboard     46000         28000     18000
100445  zzBKBxTv2yA           bus     16000          9000      7000
100446  zzBW5B6zWtA        person     29000         29000         0
100447  zzHTCgaxnWg           cat    105000        105000         0
100448  zzN9DLg_wKM          boat     31000         13000     18000
100449  zzNR747FEc0           bus     46000         40000      6000
100450  zzNmg8VeFAw       bicycle    346000        328000     18000
100451  zzOY_JT0YBk         train     31000         31000         0
100452  zzUHZZfmk6s        person    346000        328000     18000
100453  zzWqN0gvyAY      elephant    265000        254000     11000
100454  zzcnI3OwsgU           cow    105000        103000      2000
100455  zzjwC1cmTTc           dog     98000         58000     40000
100456  zzljeIZDjM8           car     31000         17000     14000
100457  zznH5zIHp7g  potted plant    128000        128000         0
100458  zznHTqy-Gzg          boat    114000        113000      1000
100459  zznxwV0I1WU       bicycle    236000        233000      3000
100460  zzqffExUc2o      umbrella    164000        163000      1000
100461  zzu6EMBj6Pg         train     15000             0     15000
100462  zzx7zdp2OaQ    skateboard     44000         44000         0
100463  zzxSVJFyAuc           bus     76000         76000         0

[100464 rows x 5 columns]

In [55]:
yt_train_b.groupby(['youtube_id','class_name']).agg({'timestamp_ms':['nunique']})

                         timestamp_ms
                              nunique
youtube_id  class_name
--0bLFuriZ4 person                 19
--2LyLmEaq8 dog                    38
--4VWx_0Sc4 person                  1
--4xkUrLgjA motorcycle             17
--4yByFm8j4 truck                  19
--7Jrp2urUc bird                   18
--7KXqgihyw person                 14
--7L39R9NG0 person                 16
--A-XRFwRt8 cat                    19
--AjlzHEFNs bird                   93
--BYHGryxto person                 38
--C3bqX9Jkc person                 19
--Cjf3QfqrM skateboard             38
--FHxh1ERsw motorcycle             19
--GIJoTTE7I person                 16
--Ga1bOJSFA motorcycle             18
--Hz7PvSOgE person                 17
--IABqeR5W8 airplane                8
--JnM0w4OJg cat                    13
--K-vBvoijE cat                    19
--L8nWczfVc bus                    12
--LNyxygQM4 motorcycle             19
--Lj8J6fjE4 cat                    19
--SbJb0hBEw horse                  15
--UDkd9rw9g skateboard            134
--V5ErkiEfw umbrella               38
--VGxCfj8Z8 truck                  17
--VhW6JDre4 bird                   17
--VxF9iwB14 car                    18
--WVvN2e-KQ bird                   17
...                               ...
zzcnI3OwsgU cow                    16
zzeJQWC38nA knife                  57
zzeXvLBKGkM knife                  17
zzg42i6tEIs car                    19
zzglj-x9qjQ elephant               21
zzii36HHYDk cat                    19
zzinwr36iIw motorcycle             19
zzjwC1cmTTc dog                    31
zzknvqv9N9U cat                    17
zzljeIZDjM8 car                    16
zzmM4yg3w7I umbrella               19
zznH5zIHp7g potted plant           38
zznHTqy-Gzg boat                   36
zznxwV0I1WU bicycle                36
zzo2TmreVWs cat                    19
zzqffExUc2o umbrella               17
zzrgrdnnfk0 car                    17
zzt4r6UZAR8 person                 19
zztLsRtdmhw cat                    38
zzu6EMBj6Pg train                  13
zzuK4Z5Wq5o horse                  55
            person                 19
zzuufc_Jbrk person                 39
zzvZQEcA3Z0 person                 19
zzvyhmCyu4M person                 19
zzx7zdp2OaQ skateboard             18
zzxSVJFyAuc bus                    37
zzyHL0boiT8 person                 21
zzygYUaxOUc cow                    17
zzyg_wpDZGA person                 17

[247194 rows x 1 columns]